.landingPageContainer {
    width: 100vw;
    height: 100vh;
    background:url("/background.png") ;
     background-repeat:no-repeat ;
     background-size:cover;
     color: white;
}
.landingPageContainer nav{
    padding-inline: 1.2rem;
    padding-block: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landingPageContainer nav h2 {
    font-size:2.2rem ;
    font-weight: 700;
    padding-left: 28px;
}
.landingPageContainer nav .navList {
  display: flex;
  gap: 30px;
  cursor: pointer;
}
.landingMainContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
    height: 70vh;
}
.landingMainContainer > div:nth-child(1){
   font-size: 1.4rem;
}
.landingMainContainer > div:nth-child(1) div[role='button']{
    background:#D97500;
    width: fit-content;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 1.9rem;
}
.landingMainContainer > div:nth-child(1) div[role='button'] a {
    text-decoration: none;
    color: white;
}
.landingMainContainer > div:nth-child(2) img {
     height: 80vh;
     width: auto;
}